@model IEnumerable<searcHestia.Models.Reservation>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pending</h2>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class=" panel-heading">
                @Model.Count() Requests
            </div>
            <div class="panel-body">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://www.flightonmobile.com/assets/images/user.png" alt="user image" class="img-responsive img-rounded dh-uimg">
                            </div>
                            <div class="col-md-8">
                                <p>
                                    <a href="#">
                                        <small class="text-muted pull-right"><span class="glyphicon glyphicon-time"></span>@item.DateBooked</small>
                                        @item.ApplicationUser.FirstName  @item.ApplicationUser.LastName
                                    </a>
                                    Reservation @item.Id
                                </p>
                                <h4>Commends:</h4>
                                <p>@item.CustComments</p>
                                <p>Sample: I would like to discuss about the arrival.</p>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-sm btn-primary" href="/Reservations/StatusUpdate/@item.Id">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                            </div>
                        </div>
                        <!-- /.attachment -->
                    </div>
                    <hr>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel dh-panel">
            <div class=" panel-heading">
                <h3>Hosting Summary</h3>
                <b>Fantastic Job!</b><br />
                Guests love what you're doing.<br />
                Keep up the good work.
            </div>
            <div class="panel-body">
                @DateTime.Now.ToString("MMMM") earnings
                30-day views<br />
                <a href="#">Details</a>
                <hr />
                Overall rating
                Total Reviews<br />
                <a href="#">Details</a>
            </div>
        </div>

    </div>
</div>