@model searcHestia.ViewModels.RSearchViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Search", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="jumbotron">

        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-primary panel-transparent">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control search-input", placeholder = "Enter City or Region" } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Arrival, new { htmlAttributes = new { @class = "form-control search-input" } })
                        @Html.ValidationMessageFor(model => model.Arrival, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { @class = "form-control search-input" } })
                        @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Occupants, new { htmlAttributes = new { @class = "form-control search-input", placeholder = "Number of guests" } })
                        @Html.ValidationMessageFor(model => model.Occupants, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-warning">Search
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


<h1>Welcome to SEARCHESTIA.</h1>
<p class="lead">Under construction.</p>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Under construction.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Under construction.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Under construction.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <h3>Top visited locations!</h3>
        <div class="col-xs-6 col-md-3">
            <p>
                Serres
            </p>
            <a href="#" class="thumbnail">
                <img src="https://st.depositphotos.com/1764221/1417/i/950/depositphotos_14171085-stock-photo-serres-city-at-north-greece.jpg" alt="Pic">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>
                Thessaloniki
            </p>
            <a href="#" class="thumbnail">
                <img src="https://t-ec.bstatic.com/images/hotel/max1024x768/139/139248091.jpg?fbclid=IwAR2iY9-w20yM_8MJJYry9QaD9RkcnWArNhzHFf-Hm8X2Dh55nDXsab71vXk" alt="Pic">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>
                Kilkis
            </p>
            <a href="#" class="thumbnail">
                <img src="https://st.depositphotos.com/2263309/2426/i/950/depositphotos_24261647-stock-photo-city-of-kilkis-greece-aerial.jpg" alt="Pic">
            </a>
        </div>
    </div>
    </div>
