@model IEnumerable<searcHestia.Models.VacProperty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p style="margin-top:30px">
    <h4>@Html.ActionLink("New Search", null, null, null, new { href = Request.UrlReferrer })</h4>
</p>

<div class="panel">
    <div class="panel-body">
        <div class="row display-flex">
            @foreach (var item in Model)
            {
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        @if (item.Galleries.Count() == 0)
                        {
                            <a href="@Url.Action("Details", "VacProperties", new { id = item.Id })">
                                <img src="https://www.nccaom.org/wp-content/uploads/2016/07/default-placeholder-image.jpg" alt="Pic">
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "VacProperties", new { id = item.Id })">
                                <img src="@Url.Content(item.Galleries.FirstOrDefault().Path + item.Galleries.FirstOrDefault().Name)" alt="@item.Galleries.FirstOrDefault().Name">
                            </a>
                        }
                        <div class="caption">
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                            City: @Html.DisplayFor(modelItem => item.Location.City.Name) <br>
                            Type Room: @Html.DisplayFor(modelItem => item.VPType) <br>
                            Price: @Html.DisplayFor(modelItem => item.PricePN) €
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer">End of search</div>
</div>
