@model IEnumerable<searcHestia.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VacProperty.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupantsNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RStatus)
        </th>
        <th>
            @Html.DisplayName("Rating")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacProperty.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccupantsNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RStatus)
            </td>
            <td>
                <a href="@Url.Action("Create", "Ratings", new { resid = item.Id })" class="btn btn-link">
                    <span class="glyphicon glyphicon-star">Rate</span>
                </a>
            </td>
            <td>
                <!--@Html.ActionLink("Edit", "Edit", new { id = item.Id }) | -->
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
